/* etiqueta para importar fuentes. */
@font-face {
    font-family: "nevis";
    src: url(fonts/nevis.eot);
    src: url(fonts/nevis.eot?iefix) format("embedded-opentype"),
        url(fonts/nevis.woff) format("woff"),
        url(fonts/nevis.ttf) format("truetype"),
        url(fonts/nevis.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

}

#Clearfix {
    clear: left;
}

body {
    background-image: url(img/paven.png);
}

header {
    width: 100%;
    height: 250px;
    margin: 0px auto;
    text-align: center;

}

header h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: nevis;
    letter-spacing: 4px;
    color: #70b231;
    margin-top: 10px;
    text-shadow: 0 2px 1px #333;
    transition: all 300ms;
}

header h1:hover {
    text-shadow: 0 2px 1px #333, 0 0 4px #70b231;
}

header img {
    width: 140px;
    margin: 0px auto;
    padding-top: 20px;
    display: block;
}

nav {
    width: 100%;
    background-color: #333333;
    height: 40px;
    font-family: sans-serif, helvetica, arial;
    font-size: 14px;
    box-shadow: 0 0 2px gray;
}

nav ul {
    list-style: none;
    margin: 0px auto;
    width: 1090px;
}

nav ul li {
    line-height: 40px;
    float: left;
    border-right: 1px solid gray;
    transition: all 300ms;
}

nav ul li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(232, 231, 231);
    text-decoration: none;
}

nav ul li a:first-child {
    border-left: 1px solid gray;
}

nav ul li:hover {
    background-color: #70b231;
    box-shadow: 0 0 4px green inset;
}

/* Menu desplegable */
nav ul li ul {
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0 2px 2px gray;
    z-index: 1;
}

nav ul li:hover ul {
    display: block;
}

nav ul li:hover ul li {
    background-color: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    width: 144px;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

nav ul li:hover ul li a {
    color: #666666;
}

nav ul li:hover ul li:hover {
    box-shadow: 0 0 6px #ccc inset;
}

aside {
    width: 30%;
    float: left;
}

.cuadro_articulo {
    width: 200px;
    border: 1px solid lightgray;
    background-color: white;
    margin: 40px 0px 0px 150px;
    padding: 20px;
    text-align: center;

}

.cuadro_articulo ul {
    list-style-position: inside;
    text-align: left;
}

.cuadro_articulo form input[type="submit"] {
    background-color: rgb(89, 140, 89);
    border: rgb(8, 52, 8);
    color: white;
    width: 70px;
    border-radius: 4px;
    box-shadow: 0 0 5px lightgreen inset;
    margin: 5px;
}

.cuadro_articulo hr {
    margin: 10px 0 10px 0;
    border: 1px dashed lightgray;
}

.cuadro_articulo h3 {
    background-color: lightgrey;
    margin-bottom: 10px;
    border-top: 2px solid rgb(200, 198, 198);
    border-bottom: 2px solid rgb(200, 198, 198);
}

#hazul {
    color: blue;
}

#hmarron {
    color: brown;
}

#frase {
    width: 200px;
    border: 1px solid lightgray;
    background-color: white;
    margin: 100px 150px;
    padding: 10px;
    text-align: left;
    line-height: 20px;
}

#class {
    text-align: left;
}

a {
    color: green;
}

#container {
    /* background-color: rgb(243, 241, 241); */
    width: 69.9%;
    float: left;

}

#link {
    text-align: right;
    padding: 0 130px 30px 0;
}

article {
    /* float: right; */
    width: 700px;
    border: 1px solid rgb(171, 171, 171);
    background-color: white;
    /* border-radius: 10px; */
    margin: 80px 0px 20px 70px;
    padding: 10px;
    padding-left: 30px;
    text-align: left;
    box-shadow: 0 0 5 rgb(171, 171, 171);
}

article h2 {
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

article ol {
    margin-top: 20px;
    list-style-type: square;
}

#rojo {
    color: brown;
}

#naranjo {
    color: orange;
}

article q {
    color: rgb(105, 103, 103);
    font-size: small;
}

footer {
    width: 98.4%;
    height: 50px;
    /* line-height: 35px; */
    border: 1px solid rgb(166, 155, 155);
    padding: 10px;
    /* margin: 20px; */
    background-color: rgb(39, 38, 38);
    color: white;
    text-align: center;
}